<h1>{{ title }}</h1>
<direction-form (emitFunctionOfParent)="setDir($event)"></direction-form>
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    <agm-direction *ngIf="dir" (status)="getStatus($event)"
        (onChange)="getDirections($event)" travelMode="TRANSIT"
        [provideRouteAlternatives]=true [origin]="dir.origin"
        [destination]="dir.destination"></agm-direction>
</agm-map>